.container {
  height: 50px;
  border-bottom-color: gray;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}
