@import "src/colors";

.mbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 5px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: lightblue;
  }
}

.submitButton {
  background: #0A65FF;
  border-radius: 11px;
  color: $white;
  font-weight: 500;
  font-size: 12px;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
